.navbar
{
    background-color:black;
    border-radius: 15px;

}
.navbar
li {
    float: left;
list-style: none;
margin: 40px 30px;
font-size: 30px;
color: white;
font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar
ul{
    overflow: auto;

}
.navbar
li
    a {
        padding: 3px 3px;
        text-decoration: none;
        color:white;
        font-size: larger;
    }
    .navbar
    li a:hover
    {
color: red;
    
    }
    .search
    {
        float: right;
        color: white;
        padding: 25px 75px ;
    }
    .navbar input{
        border: 2px solid black;
        border-radius: 15px;
        padding: 25px 30px;
        width: 250px;
    }
    .text
    {
        text-align: center;
        text-decoration: wavy;
        font-size: 3.5cm;
        font-family: cursive;
        font-style: italic;
        color: orange;
    }
    .html
    {text-align: left;
        text-decoration: wavy;
        font-size: 1cm;
        font-family: cursive;
        font-style: italic;
        color:black;
        margin: 1cm;
    }

    .skills
    {
        background-color: orange;
        height: 25px;
        width: 88%;
    }
    .css
    {text-align: left;
        text-decoration: wavy;
        font-size: 1cm;
        font-family: cursive;
        font-style: italic;
        color:black;
        margin: 1cm;}
       .css1
       {
        background-color: orange;
        height: 25px;
        width: 75%; 
       }
       .javascript
       {text-align: left;
        text-decoration: wavy;
        font-size: 1cm;
        font-family: cursive;
        font-style: italic;
        color:black;
        margin: 1cm;}
        .java{
            background-color:orange;
        height: 25px;
        width: 58%; 
        }